/*Body Styling*/
body{margin:0;padding:0;font-family: 'Titillium Web', sans-serif;font-size: 1rem;font-weight: 400;line-height: 1.5;text-align: left;background-color: #fff;color: #474747;}
ul{padding: 0;margin: 0;list-style: none;}
ol, ul {list-style: none;padding: 0;}
a{display: block;text-decoration: none;transition: all 0.5s ease 0s;cursor: pointer;}
p{font-size: 14px;}
button, input{-webkit-appearance: none;}


/*------Menu Styling-----*/
.responisve_menu_button{display: none;}
.responisve_menu_button {position: absolute;top: 0;bottom: 0;right: 12px;height: 36px;margin: auto;width: 35px;}
.hamburger.navigation_wrapper {background-color: transparent;border: 2px solid transparent;border-radius: 3px;cursor: pointer;display: block;height: 36px;padding: 0 3px;float: right;}
.nav_button.hamburger > span {background-color: #555;border-radius: 2px;clear: both;display: block;height: 4px;margin: 3px 0;width: 21px;}
#sidebar_menu {width: 290px;background: #fff;}
/*----Menu button end----*/
.container{width: 1170px;display: block;margin:0 auto;}
h2{
	font-weight: 900;
    font-size: 36px;
    line-height: 40px;
    color: #333;
    text-align: center;
}
h1, h3, h4, h5, h6{
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
	margin: 0px;
}
#header #logo h1 {
    color: #505050;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
	margin: 0;
}
#header #logo h1 a {
    color: #F05F40;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
}
#header #logo h1 a span {
    color: #403f3f;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 1px;
}
span {
    letter-spacing: 1px;
	font-size: 14px;
    line-height: 1.42857143;
}
.desk_ul li{
    margin-left: 7px;
}
.desk_ul li:not(:first-child) a:hover, .desk_ul li:not(:last-child) a:hover, .desk_ul li:nth-child(8) a:hover { color: #32c6e6; }

ul li {
    display: inline-block;
    margin-left: 10px;
    white-space: nowrap;
    line-height: 30px;
}
li ul {display: none;}
.nav nav {float: right;}
.desk_ul li a {
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
}
a.active.outer_a {color: #32c6e6;}
/*ul.menu1 {padding-right: 25px;padding-top: 10px;}*/
header#header {
    background: #0d4f8b;
    position: unset;
    left: 0;
    top: 0;
    right: 0;
     z-index: 6000;
    transition: all 0.5s ease;
	padding: 22px 0 15px 0;
}
.desk_ul li{position: relative;}
.head_menu {
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
    width: 90%;
    margin: 0 auto;
}
.deskBtn .desk_ul {float: right;}
.sb{font-weight: 500;font-size: 12px;}

/*for header file*/
.search-wrapper { background-color: #3490db; border-color: #3490db; }
.search-wrapper:hover { color: #fff; background-color: #2583d1; border-color: #2583d1; }
/*div#logo { margin-left: 30px; }*/
/*menu close*/

















/*section-9*/
.footer {padding: 34px 0 29px;border-top: 1px solid #0d4f8b;text-align: center;color: #9a9a9a;background-color: #000;}
.row-1{display: flex;}
.button-quote {background-color: #3c7e79;border: 1px solid #000;padding: 10px;width: 70%;margin-right: 10%;}
.rew-box{width: 130px; height: 40px;text-align: center;padding-left: 47%;}
.foot-size1{width: 33.33%;}
.foot-size2{width: 33.33%;display: flex;align-items: center;justify-content: center;}
.foot-size3{width: 33.33%;display: flex;align-items: center;justify-content: center;}
.foot-size2 h3 a{color: #9a9a9a;font-size: 24px;padding-left: 40%;}
.foot-size2 h3 a:hover {color: #0d4f8b;}
.info {display: flex;justify-content: center;padding-left: 5%;font-size: 15px;padding-top: 20px; padding-bottom: 15px;}
.info a{color: #9a9a9a;}

/*for footer file*/
.platform li a, .support li a, .contactus li a { color: rgba(255,255,255,.6); width: fit-content; }
.platform li a:hover, .support li a:hover, .contactus li a:hover { color: #ffd1a2; }

.support { position: relative; }
.support:before { content: " "; border-left: 1px solid #4d4e4f; display: inline-block; position: absolute; height: 140%; left: -60px; top: 70px; }
.support:after { content: " "; border-right: 1px solid #4d4e4f; display: inline-block; position: absolute; height: 140%; left: 160px; top: 70px; }
.free-ad a { background-color: #3490db; border-color: #3490db; }
.free-ad a:hover { background-color: #2583d1; border-color: #2583d1; }

.follow a.facebook { background: #38393A; background-image: url("images/facebook.png"); font-size: 20px; background-size: 40% 60%; background-repeat: no-repeat; background-position: center; }
.follow a.facebook:hover { background-color: #2b8bd3; background-image: url("images/facebook-white.png"); }

.follow a.twitter { background: #38393A; background-image: url("images/twitter.png"); font-size: 20px; background-size: 60% 60%; background-repeat: no-repeat; background-position: center; }
.follow a.twitter:hover { background-color: #2b8bd3; background-image: url("images/twitter-white.png"); }



/*Go to top buuton start*/
button#scrollToTopButton {
    color: #fafafa;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    width: 40px;
    height: 34px;
    border-radius: 0;
    background-color: #71c55d;
    z-index: 9999;
    bottom: 10px;
    right: 10px;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    line-height: 30px;
    padding-top: 10px;
    font-size: 32px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#marker {
  position: absolute;
  top: 100px;
  width: 0px;
  height: 0px;
}
/*Go to top buuton end*/



/*-----Media Quieries-----*/
@media (min-width: 992px){
}
@media only screen and (max-width: 1024px){
/*responsvie nav*/
.mobile_menu {
    text-decoration: none;
    width: 100%;
    display: block;
}
.upper_li {
    display: block;
    width: 100%;
    color: white;
    margin-left: 0px;
    padding: 6px 0px;
}
.upper_li a, .menu-ac-title a {
    font-size: 14px;
}
.mobile_menu ul {
    padding: 20px 15px 5px 30px;
}
.mbl-menu-list {
    display: block;
}
.mbl-menu-list li {
    padding: 2px 10px;
}
.mbl-menu-list ul {
    padding: 15px 0px;
    overflow: hidden;
}
.menu-ac-title {
    background: transparent;
    border: none;
    font-size: 14px;
    text-decoration: none;
    color: white;
    padding-left: 12px;
}
.menu-ac-title a {
    text-decoration: none;
    font-size: 14;
}
.menu-ac-title a {
    font-size: 11px;
    color: white;
}
.menu-ac-title:focus {
    outline: none;
}
.no_pad ul {
    padding-top: 5px;
}
.menu-ac-title:before {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    bottom: 0px;
    top: -4px;
}
.inner_ul_on_mbl {
    display: block;
}
.inner_ul_on_mbl li {
    display: block;
    width: 100%;
    padding-left: 15px;
    padding-top: 9px;
}
.inner_ul_on_mbl li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
/*responsive nav*/

.container{
    width: 1170px;
}
.nav {
    display: none;
}
#logo {
    padding-left: 0px;
}
.responisve_menu_button{
    display: block;
}
#hero .hero-container{
    position: static;
}
.hero-container2{
    width: 100%;
}
.hero-container2 amp-img{
    width: 80%;
    height: 360px;
}
.naub_2nd{
    width: 59%;
}
#about-us .about-content{
    padding-top: 0px;
}
.padd-section{
    padding: 60px 0px;
}
#features .feature-block.mb_0{
    margin-bottom: 0px;
}
.section-title h2{
    margin-top: 0px;
}
.col8, .subs{
    width: 74%;
}
.footer-logo{
    width: 26%;
}
#team .team-block{
    height: 220px;
}
.overlay .social-links{
    margin-top: 25px;
}
.pric_1_4{
    width: 48%;
    margin-bottom: 20px;
}
.pric_1_4:nth-child(3) {
    margin-left: 0px;
}
#pricing .block-pricing ul {
    max-width: 100%;
}
#pricing .block-pricing ul li {
    margin-left: 0px;
}
#blog.padd-section {
    padding-top: 0px;
}
.bl_1:not(:first-child){
    margin-left: 27px;
}
.bl_1{
    width: 31%;
}
#blog .block-blog .content-blog a.readmore{
    padding: 16px;
}
}
@media only screen and (max-width: 1000px){
	
	.hideMbl{display: none;}
.container{
    width: 92%;
	margin: 0 auto;
}
.head_menu{
	padding-top: 10px;
}
#hero{
	margin-top: 58px;
}
#header #logo h1 {
	padding-top: 0;	
}
.upper_li{
    color: #000;
}
.deskBtn .desk_ul, .deskBtn {
    float: left;
	padding-left: 5px;
}
a.right_a.sb {
    margin-bottom: 10px;
    font-size: 18px;
}
.deskBtn {
    width: 100%;
}
.deskBtn ul li:first-child {
    display: block;
}
.mbl-menu-list.no_pad ul {
    padding-bottom: 3px;
	margin-left: 18px;
}
.upper_li a{
	font-size: 16px;
    font-weight: 600;
    color: #403f3f;
}
}
@media only screen and (max-width: 830px){
.on_2{
    
}
}
@media only screen and (max-width: 767px){
    .hideMbl{display: none;}
.container{
    width: 92%;
	margin: 0 auto;
}
	#hero{
		margin-top: 58px;
	}
	#header #logo h1 {
	padding-top: 0;	
	}
.upper_li{
    color: #000;
}
.deskBtn .desk_ul, .deskBtn {
    float: left;
	padding-left: 5px;
}
a.right_a.sb {
    margin-bottom: 10px;
    font-size: 18px;
}
.deskBtn {
    width: 100%;
}
.deskBtn ul li:first-child {
    display: block;
}
.mbl-menu-list.no_pad ul {
    padding-bottom: 3px;
	margin-left: 18px;
}
.upper_li a{
	font-size: 16px;
    font-weight: 600;
    color: #403f3f;
}
	header#header {
    background: #0d4f8b;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 6000;
    transition: all 0.5s ease;
    padding: 0px 0 0px 0;
}
	section.business {
    width: 100%;
    height: 280px;
    margin: 0 auto;
    padding-top: 15.5%;
}
	
	h2.sl-h {
    font-weight: 900;
    font-size: 24px;
    line-height: 1;
    color: #fff;
    text-align: center;
}
	.logo2 {
    display: none;
}
	p.sl-p {
    font-size: 15px;
    color: #fff;
    text-align: center;
}
	a.btn1 {
    width: 170px;
    padding: 13px 0;
    color: #fff;
    text-align: center;
    background: #0d4f8b;
    margin: 0 auto;
}
	amp-carousel.slid {
    padding-top: 20%;
}
	.amp-carousel-button.amp-carousel-button-prev {
    display: none;
}
	.amp-carousel-button.amp-carousel-button-next {
    display: none;
}
	.why-title {
    padding-top: 10%;
	width: 75%;
    margin: 0 auto;
}
	.row.xeo-pro {
	display: inline-block;
		padding: 0 10%;
}
	.col-6.x1 {
    width: 100%;
}
	.grid_6 {
    padding: 10% 0;
}
	.progress_cnt {
    display: none;
}
	.progress:after {
    position: absolute;
    content: attr(data-percent) " ";
    padding: 0 20px;
    text-align: center;
}
	.parallax h2 {
    color: #fff;
    margin-top: 0px;
    font-size: 20px;
	line-height: 1em;
}
	
	h3.wow.fadeInRight.mt-20 {
    font-size: 16px;
}
	.grid_3 {
    width: 100%;
    margin-left: 0;
    display: inline-block;
    vertical-align: top;
}
	.content-box {
    display: inline-block;
    padding-bottom: 4%;
}
	.grid_5 {
    width: 79%;
    margin: 0 auto;
    font-size: 15px;
}
	.g5{
		padding-bottom: 10%;
	}
	a.btn2.button-choose {
    width: 93%;
}
	.aw-posts {
    display: block;
}
	.size1 {
    width: 100%;
}
	.size2 {
    width: 100%;padding-left: 0px;
}
	.size3 {
    width: 100%;padding-left: 0px;
}
	.news-text h5 {
    padding-top: 20px;
}
	.con1 {
    display: none;
}
	.con3 {
    display: none;
}
	.con2 {
    width: 96%;
}
	.start-btn {
    cursor: pointer;
    text-decoration: none;
    background-color: #217e79;
    padding: 20px;
    border-width: 0;
    margin: 0 auto;
    width: 100%;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-left: 7px;
    margin-right: 8px;
}
	amp-carousel#caro {
    height: 325px;
}
	.parallax {
    background-attachment: fixed;
}
	amp-carousel#rew-sl {
    height: 550px;
}
	p.quote_cnt {
    border: 0px;display: inline-block;
}
	.quote {
    color: #a7a7a7;
    margin: 0px;
    width: 25%;
    text-align: left;
}
	.reviews h2 {
    color: #fff;
    padding-top: 10%;
}
	.awards {
    background: #f7f7f7;
    padding: 15% 0;
}
	.contact {
    background: #0d4f8b;
    padding: 20% 0;
}
	a.btn1.req {
    width: 35%;
}
	.blog h2 {
    display: block;
    justify-content: center;
    margin: 0;
}
	.blog {
    padding-top: 15.5%;height: 100%; overflow: hidden;
}
	.blog h1 {
    text-align: center;
    padding: 20px 42px;
}
	.blog-box {
    width: 342px;
}
	.img-wrapper {
    background: #0d4f8b url(images/web.png) no-repeat center center;
    width: 100%;
    height: 390px;
    overflow: hidden;
}
	.blog .col-5 {
    margin-left: 0px;
}
	.blog .col-7 {
    width: 100%;
    height: 300px;
    background: #0d4f8b;
}
	.row.blog-row {
    display: inline-block;
    overflow: hidden;
    padding-top: 3%;
    width: 100%;
    margin: 0 auto;
}
	.date-box {
    padding-top: 15%;
    padding-bottom: 5%;
    margin: 0 5px;
}
	.text-header {
    background: #0d4f8b;
    max-width: 470px;
    width: 470px;
    max-height: 92px;
    height: 92px;
    display: flex;
    align-items: center;
}
/*	footer*/
	.row-1 {
    display: block;
}
	.foot-size1 {
    width: 100%;    padding-bottom: 5%;
}
	.button-quote {
    background-color: #3c7e79;
    border: 1px solid #000;
    padding: 10px;
    width: 70%;
    margin-right: 0px;
}
	.foot-size2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    padding-bottom: 5%;
}
	.foot-size2 h3 a {
    color: #9a9a9a;
    font-size: 24px;
    padding-left: 0;
}
	.rew-box {
    width: 130px;
    padding-left: 0;
}
	.foot-size3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    padding-bottom: 5%;
}
}










@media only screen and (max-width: 600px){
.post-thumbnail pw2 amp-img{
	height: 20px;
}
}
@media only screen and (max-width: 514px){
.post-thumbnail.pw1 amp-img {
    width: 100%;
}
}
@media only screen and (max-width: 475px){
#hero{
    background-attachment: unset;
}
.post-thumbnail.pw1 amp-img {
    width: 100%;
}
}
@media only screen and (max-width: 414px){
.post-thumbnail.pw1 amp-img {
    width: 100%;
}
}